*.egg-info
__pycache__/
.ipynb_checkpoints
build/
dist/

data/cache/*
!data/cache/.gitkeep
data/datasets/*
!data/datasets/.gitkeep
data/sources/*
!data/sources/.gitkeep
eval/*
!eval/objective/.gitkeep
runs/
!runs/.gitkeep

promonet/model/align/*.c*
