*.egg-info
__pycache__/
.ipynb_checkpoints
build/
dist/

data/cache/*
!data/cache/.gitkeep
data/datasets/*
!data/datasets/.gitkeep
eval/objective/*
!eval/objective/.gitkeep
eval/subjective/*
!eval/subjective/config
runs/
!runs/.gitkeep

*.c
monotonic_align/monotonic_align
